<html>
    <head>
        <title>Rickie-Lee's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 19.10.2019, 15:34</p>
            <h2><a href="">My first post</a></h2>
            <p>Amazing. Just amazing.</p>
        </div>

        <div>
            <p>published: 19.10.2019, 15:35</p>
            <h2><a href="">My second post</a></h2>
            <p>Read it. It's gonna be great.</p>
        </div>
    </body>
</html>